{% extends "base.html" %}

{% block title %} Employees List {% endblock %}

{%block content %}

<div class="container mt-5 bg-white p-5">
  <h1>Employees List</h1>
  <hr class="mt-4 mb-4" />
  <div class="w-100 mt-5 text-end">
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
  </div>
  <table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Designation</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.first_name }} {{ employee.last_name }}</td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.email_address }}</td>
        <td>{{ employee.phone_number }}</td>
        <td class="d-flex align-items-center justify-content-center">
          <a
            href="{% url 'employee_detail' employee.id %}"
            class="btn btn-primary"
            >Details</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
