{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-5">
  <img src="{% static 'imgs/django.png' %}" alt="" class="w-100"/>
  <h3 class="mt-4">Welcome to the Django application homepage!</h3>
  <p class="mt-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut commodi
    necessitatibus non dolor vel consectetur consequatur dicta doloribus magni,
    reprehenderit eligendi harum at illo perspiciatis alias ducimus voluptatibus
    placeat. Dolorem. Esse ea veniam impedit a sapiente nesciunt vitae dolorum
    id sit sint. Iste, harum officia quia, distinctio enim laboriosam porro id
    tempora velit sequi unde repellat! Doloribus minima vitae aliquam!
  </p>
  <div class="w-100 mt-4">
    <a href="{% url 'employees' %}" class="btn btn-primary">Go to Employees</a>
  </div>
</div>

{% endblock %}
